<%= simple_form_for [:admin, @issue] do |f| %>
  <%= render "shared/form_errors", object: @issue %>

  <div class="meta">
    <div class="input one-quarter">
      <%= f.label :number %>
      <div class="input-inner">
        <%= f.input_field :number %>
      </div>
    </div>

    <%= f.input :published_at, wrapper_html: {class: "one-quarter"} %>
    <%= f.input :published, as: :select, prompt: false, label: "Status", collection: [["Draft", false],["Published", true]], wrapper_html: {class: "one-quarter"} %>

    <%= f.submit class: "btn one-quarter" %>
    <div class="clear"></div>
  </div>

  <%= f.input :body, label: false, placeholder: "Ready, Steady, Go!", input_html: {class: "form-post-content"} %>
  <div class="clear"></div>

  <div class="one-whole sub-header">
    <%= link_to_add_fields "Add link", f, :links %>
    |
    <%= link_to "Import from Delicious", admin_issue_import_delicious_path(@issue) %>
  </div>
  <ul id="sortable" class="links-list" data-update-url="<%= admin_links_sort_path %>">
    <%= f.fields_for :links do |builder| %>
      <%= render "link_fields", f: builder %>
    <% end %>
  </ul>
  </div>
<% end %>
