<li class="field link" data-item-id="<%= f.object.id %>">
  <div class="one-whole sub-header">
    Link
    <%= link_to "remove", '#', class: "remove_fields right" %>
  </div>
  <div class="meta">
    <div class="input one-third">
      <%= f.label :name %>
      <div class="input-inner">
        <%= f.input_field :name, placeholder: "Name" %>
      </div>
    </div>

    <div class="input one-third">
      <%= f.label :url, "URL" %>
      <div class="input-inner">
        <%= f.input_field :url, placeholder: "http://" %>
      </div>
    </div>

    <div class="input one-third">
      <%= f.label :tag_list %>
      <div class="input-inner">
        <%= f.input_field :tag_list %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <%= f.input :description, label: false, placeholder: "Description...", input_html: {class: "form-post-content one-whole"} %>
  <%= f.hidden_field :_destroy, class: "destroy-link" %>
  <div class="clear"></div>
</li>
