<div class="main-header">
  <h1>
    Listing issues
    <%= link_to raw("Add a new issue"), new_admin_issue_path, class: "right" %>
  </h1>
</div>

<div>
  <table>
    <thead>
      <tr>
        <th>Status</th>
        <th>Number</th>
        <th>Published at</th>
        <th>Links</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @issues.each do |issue| %>
        <tr>
          <td><%= issue.published? ? raw("<span class='label green'>published</span>") : raw("<span class='label blue'>draft</span>") %></td>
          <td>Friday is Webday Issue #<%= issue.number %></td>
          <td><%= issue.published_at.strftime("%d.%m.%Y") %></td>
          <td><%= issue.links.count %></td>
          <td>
            <% if issue.published? %>
              <%= link_to fa_icon("eye"), issue_path(issue.number), target: "_blank" %>
            <% else %>
              <%= link_to fa_icon("eye"), issue_path(issue.number, bacon: "strips"), target: "_blank" %>
            <% end %>
          </td>
          <td><%= link_to fa_icon("pencil"), edit_admin_issue_path(issue) %></td>
          <td><%= link_to fa_icon("trash-o"), admin_issue_path(issue), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
