<aside class="sidebar left">
  <div class="inner">
    <ul>
      <li class="<%= active_page?(admin_posts_path) %>">
        <%= link_to raw("<i class='icon-align-left'></i> Articles"), admin_posts_path %>
      </li>
      <li class="<%= active_page?(admin_issues_path) %>">
        <%= link_to raw("<i class='icon-list'></i> Issues"), admin_issues_path %>
      </li>
      <li class="<%= active_page?(admin_links_path) %>">
        <%= link_to raw("<i class='icon-link'></i> Links"), admin_links_path %>
      </li>
    </ul>
  </div>
</aside>
