<p>
  To be a little more specific:
</p>

<p>
  I'm a Ruby <strong>developer</strong>, wannabe <strong>designer</strong>,
  <%= link_to raw("programming <strong>teacher</strong>"), "http://learntocode.ch" %>, amateur <strong>photographer</strong>
  and pizza <strong>enthusiast</strong>.
</p>

<p>
  I cofounded <%= link_to "Codegestalt", "http://codegestalt.com" %> with <%= link_to "Rodrigo", "http://rodrigohaenggi.com" %>.<br />
  Together we're trying to make the world a better and more simple place. Check out some of our <%= link_to "work", "/work" %>.
</p>

<p>
  If you're interested in hiring us, <%= mail_to "daniel@codegestalt.com", "feel free to drop us a line" %>.
</p>

<%# <div class="box gray box-bottom"> %>
<%#   <div class="wrapper"> %>
<%#     <div class="inner"> %>
<%#       <h1 class="center"><%= t('home.customers') %1></h1> %>
<%#       <ul class="customers"> %>
<%#         <li><%= image_tag("customers/bsc.png") %1></li> %>
<%#         <li><%= image_tag("customers/kms-schweiz.png") %1></li> %>
<%#         <li><%= image_tag("customers/pia-rothen.png") %1></li> %>
<%#         <li><%= image_tag("customers/ska.png") %1></li> %>
<%#         <li><%= image_tag("customers/programmzeitung.png") %1></li> %>
<%#         <li><%= image_tag("customers/restaurant-froburg.png") %1></li> %>
<%#       </ul> %>
<%#       <div class="clear"></div> %>
<%#     </div> %>
<%#   </div> %>
<%# </div> %>
