<div class="full-width-image full-width-home">
  <div class="wrapper">
    <div class="inner">
      <div class="slogan">
        <p>
          <%= raw t('home.slogan') %>
        </p>
        <p class="hire-me">
          <i class="icon-exclamation-sign"></i> <%= t('home.freelancer') %>, <%= mail_to "daniel@codegestalt.com", t('home.hireme') %>.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper home">
  <div class="inner">
    <div class="column left">
      <h1><%= t('home.who_title') %></h1>
      <%= raw t('home.who_body') %>
    </div>

    <div class="column right">
      <blockquote class="home-quote">
        <p>&ldquo;The best reason to start an organization is to make meaning – to create a product or service to make the world a better place.&rdquo;</p>
        <p><cite>- Guy Kawasaki</cite></p>
      </blockquote>
    </div>
    <div class="clear"></div>

    <div class="column right">
      <h1><%= t('home.what_title') %></h1>
      <%= raw t('home.what_body') %>
    </div>

    <div class="column left">
      <blockquote class="home-quote">
        <p>
          &ldquo;Choose a job that you like, and you will never have to work a day in your life.&rdquo;
        </p>
        <p><cite>- Confucius</cite></p>
      </blockquote>
    </div>
    <div class="clear"></div>

    <div class="column left">
      <h1><%= t('home.why_title') %></h1>
      <%= raw t('home.why_body') %>
    </div>

    <div class="column right">
      <blockquote class="home-quote">
        <p>
          &ldquo;At times of change, the learners are the ones who will inherit the world, while the knowers will be beautifully prepared for a world which no longer exists.&rdquo;
        </p>
        <p><cite>- Alistar Smith</cite></p>
      </blockquote>
    </div>
    <div class="clear"></div>
  </div>
</div>
