<div class="full-width-image full-width-home">
  <div class="wrapper">
    <div class="inner">
      <div class="slogan">
        <p>
          <%= t('home.introduction') %>
        </p>
        <div class="fields">
          <p>
            <%= t('home.fields_start') %>
            <ul>
              <li class="green"><%= t('home.field_1') %></li>
              <li class="yellow"><%= t('home.field_2') %></li>
              <li class="blue"><%= t('home.field_3') %></li>
            </ul>
          </p>
        </div>
        <div class="clear"></div>
        <p><%= t('home.freelancer') %>, <%= mail_to "daniel@codegestalt.com", t('home.hireme') %></p>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="wrapper">
    <div class="inner">
      <h1 class="center"><%= t('home.recent_work') %></h1>

      <ul class="works">
        <li>
          <%= image_tag "work/piarothen.jpg" %>
          <a href="http://www.piarothen.ch" class="caption">
            <span class="title">Pia Rothen</span>
            <span class="what">Website</span>
          </a>
        </li>
        <li>
          <%= image_tag "work/railsgirlsbasel.jpg" %>
          <a href="http://railsgirls.com/basel" class="caption">
            <span class="title center">Rails Girls Basel</span>
            <span class="what center">Organizer, Photography</span>
          </a>
        </li>
        <li>
          <%= image_tag "work/ruvetia.jpg" %>
          <a href="http://ruvetia.org" class="caption">
            <span class="title center">Ruvetia</span>
            <span class="what center">Organizer, Logo, Design</span>
          </a>
        </li>
      </ul>
      <div class="clear"></div>

      <div class="center">
        <%= link_to raw("#{t('home.more_work')} &rarr;"), work_path %>
      </div>

    </div>
  </div>
</div>

<div class="box gray box-bottom">
  <div class="wrapper">
    <div class="inner">
      <h1 class="center"><%= t('home.customers') %></h1>
      <ul class="customers">
        <li><%= image_tag("customers/bsc.png") %></li>
        <li><%= image_tag("customers/kms-schweiz.png") %></li>
        <li><%= image_tag("customers/pia-rothen.png") %></li>
        <li><%= image_tag("customers/ska.png") %></li>
        <li><%= image_tag("customers/programmzeitung.png") %></li>
        <li><%= image_tag("customers/restaurant-froburg.png") %></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
