<div class="full-width-image full-width-home">
  <div class="wrapper">
    <div class="inner">
      <div class="slogan">
        <p>
          <%# <%= raw t('home.slogan') %1> %>
          hey, my name is Daniel
        </p>
        <div class="fields">
          <p>
            I'm a
            <ul>
              <li class="green">Designer</li>
              <li class="yellow">Developer</li>
              <li class="blue">Entrepreneur</li>
            </ul>
          </p>
        </div>
        <div class="clear"></div>
        <p>I solve problems, <%= mail_to "daniel@codegestalt.com", "hire me now" %></p>
        <%# <p class="hire-me"> %>
        <%#   <i class="icon-exclamation-sign"></i> <%= t('home.freelancer') %1>, <%= mail_to "daniel@codegestalt.com", t('home.hireme') %1>. %>
        <%# </p> %>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="wrapper">
    <div class="inner">
      <h1 class="center">Recent work</h1>

      <ul class="works">
        <li>
          <%= image_tag "work/railsgirlsbasel.jpg" %>
          <a href="http://railsgirls.com/basel" class="caption">
            <span class="title center">Rails Girls Basel</span>
            <span class="what center">Organizer, Photography</span>
          </a>
        </li>
        <li>
          <%= image_tag "work/ruvetia.jpg" %>
          <a href="http://ruvetia.org" class="caption">
            <span class="title center">Ruvetia</span>
            <span class="what center">Organizer, Logo, Design</span>
          </a>
        </li>
        <li>
          <%= image_tag "work/fancytab.jpg" %>
          <a href="https://chrome.google.com/webstore/detail/fancytab/nijnkhgjogmbghnbnfandncgdinihhab" class="caption">
            <span class="title center">FancyTab</span>
            <span class="what center">Photography</span>
          </a>
        </li>
      </ul>
      <div class="clear"></div>

      <div class="center">
        <%= link_to raw("Check out more &rarr;"), work_path %>
      </div>

    </div>
  </div>
</div>

<div class="box gray box-bottom">
  <div class="wrapper">
    <div class="inner">
      <h1 class="center">Customers</h1>
      <ul class="customers">
        <li><%= image_tag("customers/bsc.png") %></li>
        <li><%= image_tag("customers/kms-schweiz.png") %></li>
        <li><%= image_tag("customers/pia-rothen.png") %></li>
        <li><%= image_tag("customers/ska.png") %></li>
        <li><%= image_tag("customers/programmzeitung.png") %></li>
        <li><%= image_tag("customers/restaurant-froburg.png") %></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
