<p>
  <%= image_tag "about.jpg" %><br />
  <span class="image-caption">Hello there ;)</span>
</p>

<p>
  I'm a <%= link_to raw("Ruby <strong>developer</strong>"), "https://github.com/danielpuglisi" %>, <%= link_to raw("wannabe <strong>designer</strong>"), "http://dribbble.com/danielpuglisi" %>,
  <%= link_to raw("programming <strong>teacher</strong>"), "http://learntocode.ch" %>, <%= link_to raw("amateur <strong>photographer</strong>"), "http://flickr.com/danielpuglisi" %>
  and pizza <strong>enthusiast</strong>.
</p>

<p>
  I cofounded <%= link_to "Codegestalt", "http://codegestalt.com" %> together with my bud <%= link_to "Rodrigo", "http://rodrigohaenggi.com" %>.<br />
  Through Software we're trying to make the world a better and more accessible place. Check out some of our <%= link_to "work", "/work" %>.
</p>

<p>
  If you're interested in hiring or just getting in contact<br /> with us, <%= mail_to "daniel@codegestalt.com", "feel free to drop a line" %>.
</p>
