<div class="full-width-box">
  <div class="wrapper border-top">
    <div class="inner">
      <div class="works">
        <ul>
          <li>
            <%= image_tag "work/seiten.jpg" %>
            <a href="http://github.com/danielpuglisi/seiten" class="caption">
              <span class="title">seiten</span>
              <span class="what">Gem</span>
            </a>
          </li>
          <li>
            <%= image_tag "work/piarothen.jpg" %>
            <a href="http://www.piarothen.ch" class="caption">
              <span class="title">Pia Rothen</span>
              <span class="what">Website</span>
            </a>
          </li>
          <li>
            <%= image_tag "work/railsgirlsbasel.jpg" %>
            <a href="http://railsgirls.com/basel" class="caption">
              <span class="title">Rails Girls Basel</span>
              <span class="what">Organizer, Photography</span>
            </a>
          </li>
          <li>
            <%= image_tag "work/ruvetia.jpg" %>
            <a href="http://ruvetia.org" class="caption">
              <span class="title">Ruvetia</span>
              <span class="what">Organizer, Logo, Design</span>
            </a>
          </li>
          <li>
            <%= image_tag "work/fancytab.jpg" %>
            <a href="https://chrome.google.com/webstore/detail/fancytab/nijnkhgjogmbghnbnfandncgdinihhab" class="caption">
              <span class="title">FancyTab</span>
              <span class="what">Photography</span>
            </a>
          </li>
          <li>
            <%= image_tag "work/kreatify.jpg" %>
            <a href="http://kreatify.com/" class="caption">
              <span class="title">Kreatify</span>
              <span class="what">Everything</span>
            </a>
          </li>
          <li>
            <%= image_tag "work/railsgirlszurich.jpg" %>
            <a href="http://vimeo.com/danielpuglisi/railsgirlszurich/" class="caption">
              <span class="title">Rails Girls Zurich</span>
              <span class="what">Photography, Video</span>
            </a>
          </li>
          <li>
            <%= image_tag "work/bridge.jpg" %>
            <a href="http://bridgetalks.ch/" class="caption">
              <span class="title">Bridge</span>
              <span class="what">Organizer</span>
            </a>
          </li>
          <li>
            <%= image_tag "work/codegestalt.jpg" %>
            <a href="http://codegestalt.com/" class="caption">
              <span class="title">Codegestalt</span>
              <span class="what">Co-Founder</span>
            </a>
          </li>
          <li>
            <%= image_tag "work/bsc.jpg" %>
            <a href="http://www.flickr.com/photos/danielpuglisi/collections/72157632649544985/" class="caption">
              <span class="title">Budo Sport Center</span>
              <span class="what">Website, Photography</span>
            </a>
          </li>
          <li>
            <%= image_tag "work/kravmaga.jpg" %>
            <a href="http://kravmaga-schweiz.ch/" class="caption">
              <span class="title">Krav Maga Switzerland</span>
              <span class="what">Website, Shop</span>
            </a>
          </li>
          <li>
            <%= image_tag "work/froburg.jpg" %>
            <a href="http://restaurant-froburg.ch/" class="caption">
              <span class="title">Froburg</span>
              <span class="what">Website</span>
            </a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
