<%= simple_form_for [:admin, @post] do |f| %>
  <%= render "shared/form_errors", object: @post %>
  <div class="meta">
    <div class="input one-whole">
      <%= f.label :title %>
      <div class="input-inner">
        <%= f.input_field :title, placeholder: "Title", size: 0 %>
      </div>
    </div>
    <% if @post.slug %>
      <div class="input one-third">
        <%= f.label :slug %>
        <div class="input-inner">
          <%= f.input_field :slug, placeholder: "slug ..." %>
        </div>
      </div>
    <% end %>
    <div class="input one-third">
      <%= f.label :external_link %>
      <div class="input-inner">
        <%= f.input_field :external_link, placeholder: "http://" %>
      </div>
    </div>
    <div class="input one-third">
      <%= f.label :tag_list %>
      <div class="input-inner">
        <%= f.input_field :tag_list %>
      </div>
    </div>
    <%= f.input :published, as: :select, prompt: false, label: "Status", collection: [["Draft", false],["Published", true]], wrapper_html: {class: "one-quarter"} %>
    <%= f.input :published_at, wrapper_html: {class: "one-quarter"} %>
    <%= f.input :style, label: "Type", as: :select, collection: ["post", "link"], prompt: false, wrapper_html: {class: "one-quarter"} %>
    <%= f.submit class: "btn right one-quarter" %>
    <div class="clear"></div>
  </div>
  <%= f.input :content, label: false, placeholder: "Ready, Steady, Go!", input_html: {class: "form-post-content"} %>
  <div class="clear"></div>
<% end %>
