<div class="form-post">
<%= simple_form_for [:admin, @post] do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, label: "Title", placeholder: "Title ...", input_html: {autocomplete: "off"}, wrapper_html: {class: "form-post-title"} %>
  <div class="meta">
    <% if @post.slug %>
      <%= f.input :slug, label: "#{request.protocol}#{request.host_with_port}/#{@post.published_at.strftime("%Y/%m")}/", input_html: {placeholder: "slug ..."}, wrapper_html: {class: "form-post-slug"} %>
    <% end %>
    <%= f.input :published, as: :select, prompt: false, label: "Status", collection: [["Draft", false],["Published", true]] %>
    <%= f.input :published_at %>
    <%= f.input :style, label: "Type", as: :select, collection: ["post", "link"], prompt: false %>
    <div class="clear"></div>
    <%= f.input :external_link, placeholder: "http://" %>
    <%= f.input :tag_list, hint: "Separate multiple tags with commas" %>
    <%= f.submit class: "btn right" %>
    <div class="clear"></div>
  </div>
  <%= f.input :content, label: false, placeholder: "Ready, Steady, Go!", input_html: {class: "form-post-content"} %>
  <div class="clear"></div>
<% end %>
</div>
