<div class="main-header">
  <h1>
    Listing articles
    <%= link_to raw("Add a new post"), new_admin_post_path, class: "right" %>
  </h1>
</div>


<div>
  <table>
    <thead>
      <tr>
        <th>Status</th>
        <th>Title</th>
        <th>Published at</th>
        <th>Tags</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= post.published? ? raw("<span class='label green'>published</span>") : raw("<span class='label blue'>draft</span>") %></td>
        <td>
          <%= link_to edit_admin_post_path(post) do %>
            <div class="details">
              <div class="title"><%= post.title %></div>
              <div class="slug"><%= post.slug %></div>
            </div>
          <% end %>
        </td>
        <td>
          <%= post.published_at.strftime("%d.%m.%Y") if post.published_at %>
        </td>
        <td>
          <%= post.tags.map { |t| t.name }.join(", ") %>
        </td>
        <td>
          <%= link_to raw("<i class='icon-eye-open'></i>"), permalink(post, bacon: "strips"), target: "_blank" %>
        </td>
        <td><%= link_to raw("<i class='icon-trash'></i>"), admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @posts %>
</div>
