<h1>Listing articles</h1>

<%= link_to raw("<i class='icon-plus'></i> New Post"), new_admin_post_path, class: "action" %>

<div class="box">
  <table>
    <thead>
      <tr>
        <th class="center"></th>
        <th>Title</th>
        <th>Watched</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td class="center"><%= post.published? ? raw("<span class='label green'>published</span>") : raw("<span class='label blue'>draft</span>") %></td>
        <td>
          <%= link_to edit_admin_post_path(post) do %>
            <div class="details">
              <div class="title"><%= post.title %></div>
              <div class="slug"><%= post.slug %></div>
            </div>
            <div class="meta">
              <div class="meta-date"><%= post.published_at.strftime("%d.%m.%Y") if post.published_at %></div>
              <div class="meta-tags"><%= post.tags.map { |t| t.name }.join(", ") %></div>
            </div>
          <% end %>
        </td>
        <td class="center">
          <%= (post.impressions_count || 0) %>
        </td>
        <td>
          <%= link_to raw("<i class='icon-eye-open'></i>"), permalink(post), target: "_blank" %>
        </td>
        <td><%= link_to raw("<i class='icon-trash'></i>"), admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @posts %>
</div>
