<%= render "shared/tags" %>

<div class="full-width-box">
  <div class="wrapper border-top">
    <div class="inner center">
      <h1><%= @tag.title %></h1>
    </div>
  </div>
</div>

<% @posts.each do |post| %>
  <article class="entry entry-tag">
    <div class="wrapper">
      <div class="inner">
        <header>
          <h2><%= link_to raw(post.title), permalink(post) %></h2>
          <%= render "posts/meta", post: post %>
        </header>
      </div>
    </div>
  </article>
<% end %>

<div class="full-width">
  <div class="wrapper">
    <%= paginate @posts %>
  </div>
</div>
