<section class="signup-bar" id="signup-bar">
  <div class="wrapper">
    <div class="inner">
      <%# <%= link_to raw("<i class='icon-remove'></i>"), "#", id: "remove-signup-bar" %1> %>
      <div class="left">
        <i class="icon-star"></i> Get useful web related links directly into your inbox. Every friday. No spam. I promise.
      </div>
      <div class="right">

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="http://danielpuglisi.us7.list-manage.com/subscribe/post?u=e7aadccd45d0d06b4e2f225be&amp;id=24035b8fe1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="mc-field-group">
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
          </div>
          <div id="mce-responses">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <input type="submit" value="Subscribe Now" name="subscribe" id="mc-embedded-subscribe" class="button">
        </form>
        </div>
        <!--End mc_embed_signup-->

      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>

<section class="header">
  <div class="wrapper">
    <div class="inner">
      <div class="logo left">
        <%= link_to root_path, class: "domain" do %>
          <%= image_tag "danielpuglisi.png" %>
        <% end %>
      </div>

      <div class="navigation right">
        <ul>
          <li class="first"><%= link_to "Work", work_path %></li>
          <li class="last"><%= link_to "Articles", articles_path %></li>
          <li class="red"><%= mail_to "daniel@codegestalt.com", raw("<i class='icon-envelope-alt'></i>") %></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>
