<section class="signup-bar" id="signup-bar">
  <div class="wrapper">
    <div class="inner">
      <%# <%= link_to raw("<i class='icon-remove'></i>"), "#", id: "remove-signup-bar" %1> %>
      <div class="left">
        <i class="icon-star"></i> Get free access to the <%= link_to "Friday Is Webday Link Collection", links_path %> and receive weekly updates.
      </div>
      <div class="right">

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <%= form_tag subscription_path do %>
            <%= email_field_tag :email, nil, placeholder: "Enter your email" %>
            <%= submit_tag "Subscribe Now", class: "button" %>
          <% end %>
        </div>
        <!--End mc_embed_signup-->

      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>

<section class="header">
  <div class="wrapper">
    <div class="inner">
      <div class="logo left">
        <%= link_to root_path, class: "domain" do %>
          <%= image_tag "danielpuglisi.png" %>
        <% end %>
      </div>

      <div class="navigation right">
        <ul>
          <li class="first"><%= link_to "Work", work_path %></li>
          <li><%= link_to "Articles", articles_path %></li>
          <li class="last"><%= link_to "Links", links_path %></li>
          <li class="red"><%= mail_to "daniel@codegestalt.com", raw("<i class='icon-envelope-alt'></i>") %></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>
