<section class="header-wrapper">
  <section class="header">
    <div class="cf">
      <div class="logo left">
        <%= link_to root_path, class: "domain" do %>
          <%= image_tag "danielpuglisi.png" %>
        <% end %>
      </div>
      <div class="header-content right">
        <div class="slogan">
          Nice to meet you. I'm Daniel, passionate learner and maker.
        </div>

        <div class="navigation">
          <ul>
            <li><%= link_to "Articles", articles_path %> / <%= link_to "Archive", archive_path %></li>
            <li><%= link_to "Work", work_path %></li>
            <li><%= link_to "Links", links_path %></li>
            <li><%= mail_to "daniel@codegestalt.com", "Contact me" %></li>
          </ul>
        </div>

        Get free access to the <%= link_to "Friday Is Webday Link Collection", links_path %> and receive weekly updates.

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <%= form_tag subscription_path do %>
            <%= email_field_tag :email, nil, placeholder: "Enter your email", class: "left" %>
            <%= submit_tag "Go!", class: "button right" %>
          <% end %>
        </div>
        <!--End mc_embed_signup-->
      </div>
    </div>

  </section>
</section>
