<section class="header-wrapper">
  <section class="header">
    <div class="cf">
      <div class="header-logo">
        <%= link_to root_path, class: "domain" do %>
          <%= image_tag "danielpuglisi.png" %>
        <% end %>
      </div>
      <div class="header-content">
        <div class="slogan">
          Nice to meet you. I'm Daniel, passionate learner and maker.
        </div>

        <div class="navigation">
          <ul>
            <li><%= link_to "Thoughts", "http://shimatta.me/daniel", target: '_blank' %> / <%= link_to "Archive", archive_path %></li>
            <li><%= link_to "Work", work_path %></li>
            <li><%= mail_to "daniel@codegestalt.com", "Contact me" %></li>
          </ul>

          <br />
          <p>Current projects:</p>

          <ul>
            <li><%= link_to "Shimatta", 'https://shimatta.me/', target: '_blank' %></li>
            <li><%= link_to "Desk Hunt", 'http://deskhunt.com', target: '_blank' %></li>
            <li><%= link_to "Remember Posters", 'http://rememberposters.com', target: '_blank' %></li>
          </ul>
        </div>

        <%# <div class="mc-signup"> %>
        <%#   Receive 15+ curated links full of interesting articles & tutorials, %>
        <%#   useful libraries & tools, inspirations and more on every friday directly %>
        <%#   into your inbox. %>

        <%#   <!-- Begin MailChimp Signup Form --> %>
        <%#   <div id="mc_embed_signup"> %>
        <%#     <%= form_tag subscription_path do %1> %>
        <%#       <%= email_field_tag :email, nil, placeholder: "Enter your email", class: "left" %1> %>
        <%#       <%= submit_tag "Go!", class: "button right" %1> %>
        <%#     <% end %1> %>
        <%#   </div> %>
        <%#   <!--End mc_embed_signup--> %>
        <%# </div> %>
      </div>
    </div>

  </section>
</section>
