<%# <%= render "shared/tags" %1> %>

<div class="post post-tags">
  <header>
    <h2><%= @tag.name %></h2>
  </header>
  <% @posts.each do |post| %>
    <%= link_to permalink(post), class: "post-archive" do %>
      <div class="post-title"><%= post.title %></div>
      <div class="meta">
        <%= post.published_at.strftime("%B %d, %Y") %>
      </div>
    <% end %>
  <% end %>
</div>
