<!DOCTYPE html>
<html>
<head>
  <title><% if @title %><%= @title %> | <% end %>Daniel Puglisi</title>
  <style>
    <%= Pygments.css('div.highlight', style: "colorful") %>
  </style>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="//use.typekit.net/qwq0kmn.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="author" content="Daniel Puglisi" />
  <meta name="description" content="<%= description %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <%= render "layouts/application/google_analytics" %>
</head>
<body>
  <%= render "layouts/application/fb_like_button" %>
  <section class="full-width">
    <%= render "layouts/application/header" %>

    <div class="main">
      <%= yield %>
    </div>

    <%= render "layouts/application/footer" %>
  </section>
</body>
</html>
